{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    <a href="/test">Тест по латинским названиям</a>
    /
    <a href="/test/{{ element_group }}">{{ group_class.class_name }}</a>
    /
    <a href="/test/{{ element_group }}/{{ element_type }}/undefined">{{ type_class.name }}</a>
    /
    Статистика
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Вы закончили данный блок
    </div>
{% endblock %}

{% block content %}
    <div class="stat">
        {% if user.is_authenticated %}
            Решено верно: {{ correct }}<br>
            Решено неверно: {{ incorrect }}<br>
            Использовано подсказок: {{ hint }}<br>
        {% else %}
            Чтобы получать и сохранять полную статистику по пройденному блоку, необходимо войти в аккаунт!
        {% endif %}
    </div>
{% endblock %}