{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    Тест по латинскому языку
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="../../static/covers/bone.png" class="icon img-responsive" onclick="location.href='bone/'">
                <p>Кости</p>
            </div>
            <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="../../static/covers/muscle.png" class="icon img-responsive" onclick="location.href='muscle/'">
                <p>Мышцы</p>
            </div>
        </div>
    </div>
{% endblock %}