{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    <a href="/latin">Тест по латинским названиям</a>
    /
    {{ class_name }}
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for e in total %}
                <div class="item col-md-3">
                    {% if e.type.picture %}
                        <img src="../../{{ e.type.picture.url }}" onclick="location.href='{{ e.type.variable }}/undefined'">
                    {% endif %}
                    <p class="no-margin">{{ e.type.name }}</p>
                    <img src="../../static/media/latin/{{ e.status }}.png" data-toggle="tooltip" data-placement="bottom" title="Статистика" onclick="location.href='../../latin/stat/{{ element_group }}/{{ e.type.variable }}'">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}