{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    Тест по латинским названиям
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="item col-md-3">
                <img src="../../static/covers/bone.png" onclick="location.href='bone/'">
                <p>Кости</p>
            </div>
            <div class="item col-md-3">
                <img src="../../static/covers/muscle.png" onclick="location.href='muscle/'">
                <p>Мышцы</p>
            </div>
        </div>
    </div>
{% endblock %}