{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    <a href="/test">Тест по латинским названиям</a>
    /
    {{ class_name }}
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for e in total %}
                <div class="item col-md-3 status-{{ e.status }}">
                    {% if e.type.picture %}
                        <img src="../../{{ e.type.picture.url }}" onclick="location.href='{{ e.type.variable }}/undefined'">
                    {% endif %}
                        <p>{{ e.type.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}