{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    <a href="/">Главная</a>
    /
    Тест по гистологии
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for e in total %}
                <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    {% if e.type.picture %}
                        <img src="../../{{ e.type.picture.url }}" class="icon img-responsive" onclick="location.href='{{ e.type.variable }}/undefined'">
                    {% endif %}
                    <p class="no-margin">{{ e.type.name }}</p>
                    <img src="../../static/media/latin/{{ e.status }}.png" class="status-img img-responsive" data-toggle="tooltip" data-placement="bottom" title="Статистика" onclick="location.href='../../histology/stat/{{ e.type.variable }}'">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}