html {
    overflow-x: hidden;
}

body {
    background: url(bg.png);
}

.off {
    background-color: white;
}

.main-container {
    width: 100%;
    padding: 7% 0 0;

}

.box {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: white;
    width: 75%;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

.account {
    padding: 10px;
    background: white;
    position: absolute;
    top: 10px;
    right: 0px;
    border-radius: 10px;
}

.way {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 10pt;
}

.alert-box {
    font-size: 12pt;
}

.login-alert {
    font-size: 12pt;
    width: 99%;
    margin: 5px auto;
}

#register-info-link {
    font-size: 10pt;
}

.hint-box {
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 10px;
}

.hint-alert {
    margin-bottom: 0;
}

form {
    white-space:nowrap;
}


.answer-box {
    margin-top: 10px;
}

.radio-box {
    width: 100%;
    margin-top: 10px;
}

.radio-box p {
    width: 100%;
    text-align: left;
}

.ans-btn {
    min-width: 100px;
    margin-top: 10px;
}

.register {
    text-align: left;
    margin-left: 5%;
}

.container {
    display: inline-block;
    width: 100%;
}

.item {
    padding: 5px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 11pt;
}

.item img:hover {
    cursor: pointer;
}

.inline-btn {
    display: inline-block;
}

.article-content {
    text-align: left;
    font-size: 13pt;
    word-wrap: break-word;
    display: block;
}

.article-footer {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 8pt;
}

.card-body {
    font-size: 11pt;
}

.info {
    text-align: left;
    font-size: 14pt;
    word-wrap: break-word;
    display: block;
}

/* Общие классы */

.align-left {
    width: 100%;
    text-align: left;
    font-size: 13pt;
}

.no-margin {
    margin: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.text-center {
    margin: 0;
}

.invisible {
    display: none;
}