html {
    overflow-x: hidden;
}

body {
    background: url(bg.png);
}

.main-container {
    width: 100%;
    padding: 7% 0 0;

}

.box {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: white;
    width: 75%;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

.account {
    padding: 10px;
    background: white;
    position: absolute;
    top: 10px;
    right: 0px;
    border-radius: 10px;
}

.way {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 10pt;
}

.alert-box {
    font-size: 12pt;
}

.login-alert {
    font-size: 12pt;
    width: 99%;
    margin: 5px auto;
}

.hint-box {
    font-size: 12pt;
    margin-bottom: 0;
    margin-top: 10px;
}

.hint-alert {
    margin-bottom: 0;
}

form {
    white-space:nowrap;
}


.answer-box {
    margin-top: 10px;
}

.ans-btn {
    min-width: 100px;
    margin-top: 10px;
}

.register {
    text-align: left;
    margin-left: 5%;
}

.container {
    display: inline-block;
    width: 100%;
}

.item {
    padding: 5px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 11pt;
}

.item img:hover {
    cursor: pointer;
}

.item-start img {
    position: absolute;
    bottom: 10px;
    left: 16.6%;
}

.inline-btn {
    display: inline-block;
}

.info-item-top {
    min-height: 60px;
    padding-top: 5px;
    background-color: #bbe5fd;
    position: relative;
    text-align:center;
    border-radius: 5px 5px 0px 0px;
    font-size: 13pt;
}

.info-item-bottom {
    min-height: 210px;
    background-color: aliceblue;
    position: relative;
    text-align:center;
    padding-top: 5px;
    margin-bottom: 25px;
    border-radius: 0px 0px 5px 5px;
    font-size: 13pt;
}

.status-bad {
    background-color: #f5c2c2;
}

.status-bad:hover {
    background-color: #f7a7a7;
}

.status-good {
    background-color: #f5e6c2;
}

.status-good:hover {
    background-color: #f7dfa7;
}

.status-excellent {
    background-color: #c5f5c2;
}

.status-excellent:hover {
    background-color: #abf7a7;
}

.align-left {
    width: 100%;
    text-align: left;
    font-size: 13pt;
}

.section-title {
    background-color: white;
}

.section-title:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.section-title span {
    background-color: #525252;
}

.section-a {
    font-size: 13pt;
}

.article-content {
    text-align: left;
    font-size: 13pt;
}

.article-footer {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 8pt;
}

.list-group-flush .list-group-item{border-right:0;border-left:0;border-radius:0}.list-group-flush:first-child .list-group-item:first-child{border-top:0}.list-group-flush:last-child .list-group-item:last-child{border-bottom:0}