body {
    background: url(bg.png);
}

.main-container {
    width: 95%;
    padding: 10% 0 0;
    margin: auto;
}

.box {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: white;
    max-width: 75%;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

.head {
    width: 100%;
    display: inline-block;
    font-size: 10pt;
    text-align: left;
}

.alert-box {

}

.hint-box {
    margin-bottom: 0;
    margin-top: 10px;
}

.hint-alert {
    margin-bottom: 0;
}

form {
    white-space:nowrap;
}

.form-inline .form-control {
    width: 250px;
}

.ans-btn {
    min-width: 100px;
    margin-top: 10px;
}

.register {
    text-align: left;
    margin-left: 5%;
}

.container {
    display: inline-block;
    width: 100%;
}

.item {
    height: 200px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    text-align:center;
    margin-bottom: 25px;
    font-size: 13pt;
}

.item a {
    display: block; /* Ссылка как блочный элемент */
    /*height: 100%; /* Высота на весь слой */
    color: #000 !important;
    text-decoration: none;
}

.item:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.inline-btn {
    display: inline-block;
}

.info-item-top {
    min-height: 60px;
    padding-top: 5px;
    background-color: #bbe5fd;
    position: relative;
    text-align:center;
    border-radius: 5px 5px 0px 0px;
    font-size: 13pt;
}

.info-item-bottom {
    min-height: 210px;
    background-color: aliceblue;
    position: relative;
    text-align:center;
    padding-top: 5px;
    margin-bottom: 25px;
    border-radius: 0px 0px 5px 5px;
    font-size: 13pt;
}

.status-bad {
    background-color: #f5c2c2;
}

.status-bad:hover {
    background-color: #f7a7a7;
}

.status-good {
    background-color: #f5e6c2;
}

.status-good:hover {
    background-color: #f7dfa7;
}

.status-excellent {
    background-color: #c5f5c2;
}

.status-excellent:hover {
    background-color: #abf7a7;
}

.align-left {
    width: 100%;
    text-align: left;
}