{% if not user.is_authenticated %}
    <div class="alert-box login-alert">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Пожалуйста <a href="/accounts/login" class="alert-link">войдите</a> в свой аккаунт или <a href="/accounts/register" class="alert-link">зарегистрируйтесь</a>!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endif %}