{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="alert-box">
        <div class="alert alert-danger" role="alert">
            Упс! Реакции закончились. Ожидайте пополнения или же начните сначала...
        </div>
    </div>
    <div class="">
        <form id="check-answer" class="form-inline" action="{% url 'check_answer' %}">{% csrf_token %}
            <div class="form-group button-box">
                <button class="btn btn-success ans-btn" id="submit_btn" data-action="next" data-reaction_id="1">
                    Начать сначала
                </button>
            </div>
        </form>
    </div>
{% endblock %}