{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="head">
            <a href="/">Главная</a>
            /
            Справочные материалы
    </div>
    <div class="alert-box">
        <div class="alert alert-warning" role="alert">
            Выберите нужный раздел
        </div>
    </div>
    <div class="">
        {% for type in types %}
            <div class="">
                <form action="{{ type.variable }}">
                    <button class="btn btn-success" type="submit">
                        {{ type.name }}
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}