{% extends 'base.html' %}
{% load staticfiles %}

{% block way %}
    Главная
{% endblock %}

{% block alert %}
    <div class="alert alert-warning" role="alert">
        Выберите нужный раздел
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="item col-md-3">
                <img src="static/covers/reference.png" onclick="location.href='reference/'">
                <p>Справочные материалы</p>
            </div>
            <div class="item col-md-3">
                <img src="static/covers/latin.png" onclick="location.href='test/'">
                <p>Тест по латинским названиям</p>
            </div>
        </div>
    </div>
{% endblock %}