{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="head">
            Главная
        </div>
        <div class="alert-box">
            <div class="alert alert-warning" role="alert">
                Добро пожаловать, {{ user.username }}!
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="item" onclick="location.href='reference/'">
                        Справочные материалы

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item" onclick="location.href='test/'">
                        Тест по латинским названиям

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert-box">
            <div class="alert alert-warning" role="alert">
                Приветствую тебя на проекте Learn-anatomy!
            </div>
        </div>
        На данном сайте вы можете:<br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="info-item-top">
                        Найти множество справочных материалов
                    </div>
                    <div class="info-item-bottom">
                        <img src="static/covers/startscreen_latin.png" height="200">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-item-top">
                        Проверить свои знания латинских названий анатомических элементов
                    </div>
                    <div class="info-item-bottom">
                        <img src="static/covers/startscreen_latin.png" height="200">
                    </div>
                </div>
            </div>
        Для начала работы вам необходимо войти в свой аккаунт или зарегистрироваться:
        </div>
        <form class="inline-btn" action="/accounts/login"><button class="btn btn-success ans-btn" type="submit">Вход</button></form>
        <form class="inline-btn" action="/accounts/register"><button class="btn btn-success ans-btn" type="submit">Регистрация</button></form>
    {% endif %}
{% endblock %}