{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="">
        <div class="head">
            <a href="/">Главная</a>
            /
            <a href="/test">Тест по латинским названиям</a>
            /
            <a href="/test/{{ element_group }}">{{ group_class.class_name }}</a>
            /
            <a href="/test/{{ element_group }}/{{ element_type }}/undefined">{{ type_class.name }}</a>
            /
            Статистика
        </div>
        <div class="alert-box">
            <div class="alert alert-warning" role="alert">
                Вы закончили данный блок
            </div>
        </div>
    </div>
{% endblock %}