{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="head">
        <a href="/">Главная</a>
        /
        Тест по латинским названиям
    </div>
    <div class="alert-box">
        <div class="alert alert-warning" role="alert">
            Выберите раздел для изучения
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item" onclick="location.href='bone/'">
                    Кости
                    <img src="../static/covers/bone.png">
                </div>
            </div>
            <div class="col-md-3">
                <div class="item" onclick="location.href='muscle/'">
                    Мышцы
                    <img src="../static/covers/muscle.png">
                </div>
            </div>
        </div>
    </div>
{% endblock %}