{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="alert-box">
        <div class="alert alert-warning" role="alert">
            Выберите раздел для изучения
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for type in types %}
                <div class="col-md-3">
                    <div class="item" onclick="location.href='{{ type.variable }}/undefined'">
                        {{ type.name }}
                        {% if type.picture %}
                            <img src="../../{{ type.picture.url }}">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}